# Introduction to Python Programming

- Data Types in Python
- Variables in Python
- Data Type conversion
- Accept inputs from user
- Operators in Python
- Flow Control (Decision making and Iteration)

### Data Types in Python

- Numberic - int, float, complex
- str
- bool

In [1]:
10 # int

10

In [2]:
15.5 # float

15.5

In [3]:
"abcd" # str

'abcd'

In [4]:
True # bool

True

In [5]:
complex(2,3) # complex

(2+3j)

### Python Containers

Containers are any object that holds an arbitrary number of other objects. Generally, containers provide a way to access the contained objects and to iterate over them. Examples of built-in containers include tuples, lists, sets, dictionary.

In [ ]:
[1, 2, 3, 4, 'abc'] # list

In [ ]:
(1, 2, 3, 4) # tuple

In [ ]:
{2, 's', 3, 5, 5} # set

In [ ]:
{1 : "Jane", 2:"George", 3:"Sam"} # dictionary

### Variables in Python

- A Python variable points to a reserved memory location 
- Data or objects are stored in these memory locations
- Variables can be declared by any name or even alphabets

##### Ex. Define variable name and assign value to the variable

In [1]:
a='Bijali'

#### type() - returns class type of the argument(object) passed as parameter

In [ ]:
a = True
print(type(a))

In [ ]:
a = 10
print(type(a))

In [ ]:
a = 10.5
print(type(a))

In [ ]:
a = "abcd"
print(type(a))

In [ ]:
l = [1, 2, 3, 4]
print(type(a))

##### Ex. WAP to take name of user as input and print a welcome message

In [2]:
a=input('Enter your name')
print('Welcome',a)

Enter your nameBasavaraj Bijali
Welcome Basavaraj Bijali

##### Ex. WAP to take two numbers as input from user and print their sum

<b style = "color : red">Note - input() always accepts value in "str" format</b>

### Data Type Conversion
Python supports conversion of one data type to another
- Implicit Conversion: Conversion done by Python interpreter without programmerâ€™s intervention
- Explicit Conversion: Conversion that is user-defined that forces an expression to be of specific data type

### Implicit Conversion

In [ ]:
a = 10  # int
b = 2.5 # float
a + b

### Explicit Conversion

In [ ]:
a = "10"
b = 5

a + b

#### int conversion

In [ ]:
x = 10.8 # float
int(x)

In [ ]:
x = "10" # int value in str format
int(x)

In [ ]:
x = True # bool
int(x)

In [ ]:
x = False # bool
int(x)

In [ ]:
x = "abcd" # str
int(x)

In [ ]:
x = "10.8" # float value in str format
int(x)

#### float conversion

In [ ]:
x = True # bool
float(x)

In [ ]:
x = False # bool
float(x)

In [ ]:
x = 10 # int
float(x)

In [ ]:
x = "10.8" # float value in str format
float(x)

In [ ]:
x = "abcd" # str
float(x)

#### str conversion

In [ ]:
x = 10
str(x)

In [ ]:
l = [1,2,3,4,5]
str(l)

#### bool conversion

In [ ]:
x = "False"

bool(x)

# 0, 0.0 or None - False

<b style = "color : red">Note - bool() returns True for any value except 0 or 0.0 or None </b>

### Operators in Python
Operators are special symbols in Python that carry out computations. The value that the operator operates on is called as operand.

- Arithmetic Operators
- Relational Operators
- Logical Operators
- Assignment Operators
- Membership Operators

#### Arithmetic Operators

In [ ]:
a = 10
b = 7

In [ ]:
print("Addition - ", a+b)

In [ ]:
print("Substraction - ", a-b)

In [ ]:
print("Multiplication - ", a*b)

In [ ]:
print("Division - ", a/b) # returns result in float format

In [ ]:
print("Floor Division - ", a//b) # returns integer part of the division

In [ ]:
print("Exponential - ", a**b) # returns the result of a to the power b

In [ ]:
print("Modulous - ", a%b) # returns remainder of the division

##### WAP to calculate simple interest when initial amount, rate of interest and number of years is given as input. Jane decides to invest Rs.55,000 at a rate of 6.6%. What be her maturity amount at the end of 5years?

#### Relational Operators

In [3]:
a = 10
b = 7

In [4]:
print(a<b)

False

In [5]:
print(a>b)

True

In [6]:
print(a==b)

False

In [7]:
print(a!=b)

True

##### George has hosted a party for his grandpa. He has invited his all friends from senior citizens club. WAP to accept age as input from guest. Display True or False based on the age criteria.

In [8]:
age=int(input("Enter age"))
print(age>60)

Enter age55
False

In [ ]:
num=int(input())
print(num%2==0)

In [13]:
a=65
b=10
(a>55) & (b<10)

False

#### Logical Operators

##### Ex. For college fresher's party dress code for girls is pink and boys is black. WAP to accept the dress color and print True or False based on the criteria

In [ ]:
girl = input("Enter dress color for girl : ")
boy = input("Enter dress color for boy : ")

##### Both should match the color

In [ ]:
girl == "pink" and boy == "black"

##### Anyone should match the color

In [ ]:
girl == "pink" or boy == "black"

##### Dress code is changed to - 

girls = pink<br>
boys = anything but black

In [ ]:
girl == 'pink'  and  (not boy == "black")

In [23]:
a=46
a*=5
a/=10
a//=2
a%=2
a

1.0

#### Assignment Operators

In [26]:
a = 10
# a = a + 20
a += 20
a**=2
a

900

In [ ]:
a = 10
# a = a * ((2+3)/4)
a *= ((2+3)/4)
a

### Membership Operators

Membership operators checks whether a value is a member of a sequence. The sequence may be a list, a string, a tuple, or a dictionary

- in - The â€˜inâ€™ operator is used to check if a value exists in any sequence object or not.
- not in - A â€˜not inâ€™ works in an opposite way to an â€˜inâ€™ operator. A â€˜not inâ€™ evaluates to True if a value is not found in the specified sequence object. Else it returns a False.

In [ ]:
"a" in "abcd"

In [ ]:
"a" not in "abcd"

##### Ex. WAP to check if entered name is present in the mentioned list or not

In [29]:
names = ["Jane", "George", "Sam"]
input('enter any name:- ') in names
# print(nm in names)

enter any name:- bijali

False

<h3 style = "color : green"> Additional Examples </h3>

##### Ex. WAP to accept hours and rate per hour from user and compute gross pay.

In [30]:
hours=float(input('Enter worked hours in:-'))
rate=float(input('Enter ratein rs per hour'))
print('Your gross amount is {} Rupees'.format(hours*rate))

Enter worked hours in:-5
Enter ratein rs per hour5
Your gross amount is 25.0 Rupees

##### Ex. WAP to take radius of circle as input and print the area of circle and circumference of circle.

In [32]:
radius=float(input('Enter radius of circle:-'))
print('The area of the circle is {}'.format((22/7)*radius**2))

Enter radius of circle:-7
The area of the circle is 154.0

##### Ex. Write a python program to calculate the hypoteneous of a right angled triangle when sides are given

In [38]:
s1,s2=input('enter the sides of triangle: ').split(' ')
print('The hypoteneous is {}'.format((float(s1)**2+float(s2)**2)**0.5))

enter the sides of triangle: 3 4
The hypoteneous is 5.0

In [50]:
import math 
# math.hypot(4,3)
# help(math)
math.hypot?

### Conditional Statement

##### WAP to check if a number is even or odd.

In [52]:
age=int(input('Enter your age:- '))
if age>=60:
    print('You are allowed')
else:
    print('Sry you are not allowed')

Enter your age:- 98
You are allowed

In [54]:
char=input('Enter any character:-')
if char.lower() in 'aeiou':
    print('Vowel')
else:
    print('consonant')

Enter any character:-A
Vowel

### Iterating over a sequence

##### WAP to sum elements in list numbers = [2,1,5,3,7,4]

In [55]:
a=[2,1,5,3,7,4]
total=0
for i in a:
    total+=i
print(total)

22

In [57]:
for i in a:
    if i%2==0:
        print(i)

2
4

##### WAP to iterate over a string entered by user

In [59]:
string=input('Enter any string: ')
for i in string:
    if i in 'aeiou':
        print(i)

Enter any string: basavaraj
a
a
a
a