## Lambda Function

- A lambda function is also called as an anonymous function as it is a function that is defined without a name. 
- A lambda function behaves similar to a standard function except it is defined in one-line. 
- It is defined using a lambda key-word. 
- Lambda functions can have any number of arguments but only one expression. The expression is evaluated and returned. 
- Lambda functions can be used wherever function objects are required. 
- Syntax of Lambda Function – 

  <b>lambda *parameters* : *expression*</b>

##### WALF to return addition of 2 numbers

In [4]:
add=lambda x,y:x+y
add(2,3)

5

##### WALF to check a number is even or odd

In [5]:
odd_even=lambda x:'Even' if x%2==0 else 'Odd'
odd_even(5)

'Odd'

##### WALF to accept a list of strings as parameter and return the length of each string element from the list

In [8]:
list_len=lambda x: [len(i) for i in x]
list_len(['car','bike','scooter'])

[3, 4, 7]

In [10]:
m=['car','bike','scooter']
ans=list(map(len,m))
ans

[3, 4, 7]

### Applilcations of Lambda Function

##### Ex. WAP to sort a list of strings as per the last character.

In [12]:
m=['car','bike','scooter']
sorted(m,key=lambda x:x[-1])

['bike', 'car', 'scooter']

##### Ex. WAP to display the student details in sorted order of their marks.

In [17]:
students = {"Jane" : 40, "Max" : 50, "Sam" : 45, "Mary" : 70}
sorted(students,key= students.get)

['Jane', 'Sam', 'Max', 'Mary']

In [27]:
sorted(students,key= lambda x:students[x])   # wyy cant d.values?

['Jane', 'Sam', 'Max', 'Mary']

##### Ex. WAP to print total sales.

In [39]:
sales = ["$1,000", "$580", "$9,000", "$290"]
# list(map(str,list(map(lambda x: x.strip('$' or ','),sales))))


sum([int( i.strip('$').replace(',','')) for i in sales])

10870

In [29]:
sales = ["$1,000", "$580", "$9,000", "$290"]
list(map(str,list(map(lambda x: x.strip('$' ),sales))))

['1,000', '580', '9,000', '290']

In [36]:
a='1.000'
a.isdigit()

False

#### map(func_obj, sequence)
- func_obj : It is a function object to which map passes each element of given sequence.
- sequence : It is a sequence which is to be mapped.
- Returns  a sequence of the results after applying the given functionto each item of a given iterable.

##### Ex. WAP to map the given list to list of squares

In [58]:
l = [1, 3, 2, 6, 7, 9]

k=list(map(lambda x:x**2,l))
print(k)
k_=list(map(lambda x:int(x**0.5),k))
k_

[1, 9, 4, 36, 49, 81]

[1, 3, 2, 6, 7, 9]

#### filter(func_obj, sequence)
- func_obj : function that tests if each element of a sequence true or not. It should always be a Boolean function.
- sequence : It is a sequence which is to be filtered.
- Returns a sequence of filtered elements.

##### Ex. WAP to filter all the even numbers from the given list of numbers.

In [55]:
l=[1,2,5,7,8,9,5,6]
m=list(filter(lambda x:x%2==0,l))
print(m)

[2, 8, 6]

In [54]:
l = ["$1,000", "$580", "$9,000", "$290"]
# list(filter(lambda x:x%2==0,l))
# list(map (lambda x:int(x.strip('$').replace(',',''),l)
          
list(map(lambda x:int(x.strip('$').replace(',','')),l))

[1000, 580, 9000, 290]

In [74]:
string = "A quick brown fox jumped over a lazy dog"
# Q1)len of each word
{i:len(i) for i in string.split() }
print(list(map(lambda x:len(x),string.split())))  # return len of each word in string
print(list(filter(lambda x:len(x)<=4,string.split())))
# dict(enumerate(map(lambda x:len(x), string.split()), start = 1))
# dict(enumerate(filter(lambda x : len(x) <= 4, string.split()), start = 1))

print(dict(zip(string.split(" "),(map(lambda x : len(x),string.split(" "))))))
print(dict(zip(string.split(),(filter(lambda x:len(x)<=4,string.split())))))

[1, 5, 5, 3, 6, 4, 1, 4, 3]
['A', 'fox', 'over', 'a', 'lazy', 'dog']
{'A': 1, 'quick': 5, 'brown': 5, 'fox': 3, 'jumped': 6, 'over': 4, 'a': 1, 'lazy': 4, 'dog': 3}
{'A': 'A', 'quick': 'fox', 'brown': 'over', 'fox': 'a', 'jumped': 'lazy', 'over': 'dog'}

In [88]:
a=dict(list(map(lambda x:(x,len(x)),string.split())))
print(a)

{'A': 1, 'quick': 5, 'brown': 5, 'fox': 3, 'jumped': 6, 'over': 4, 'a': 1, 'lazy': 4, 'dog': 3}

- The reduce(func_obj, seq) function is used to apply a particular function passed in its argument to all of the list elements mentioned in the sequence passed along. This function is defined in “functools” module. <br>
<b style = "color : Red">Note: func_obj will always take two parameters</b>

Working : 
- At first step, first two elements of sequence are picked and the result is obtained.
- Next step is to apply the same function to the previously attained result andthe number just succeeding the second element and the result is again stored.
- This process continues till no more elements are left in the container.
- The final returned result is returned and printed on console.

##### Ex. Reduce the list to summation of all numbers

In [ ]:
from functools import reduce

l = [1, 3, 2, 6, 7, 9]

##### Ex. WAP to create a list of last names from the people list using map()

In [60]:
people = ['Dr. Christopher Brooks', 'Dr. Kevyn Collins-Thompson', 'Dr. VG Vinod Vydiswaran', 'Dr. Daniel Romero']
list(map(lambda x:x.split()[-1],people))

['Brooks', 'Collins-Thompson', 'Vydiswaran', 'Romero']

##### Ex. WAP to filter all int elements from the list.
l = [1,'abc', 'India', 45, 32]

In [61]:
l = [1,'abc', 'India', 45, 32, 0]

list(filter(lambda x:type(x)==int,l))

[1, 45, 32, 0]

##### Ex. Write a Python program to count the occurrences of each alphabet in a given sentence.

In [93]:
from functools import reduce
sent = "Have a nice day"
list(map(lambda x:(x,sent.count(x)),list(set(sent))))

[('i', 1),
 ('n', 1),
 ('y', 1),
 ('c', 1),
 ('v', 1),
 ('H', 1),
 (' ', 3),
 ('a', 3),
 ('d', 1),
 ('e', 2)]

##### Ex. Using reduce, calculate product of first n natural numbers

In [95]:
n = 5
reduce(lambda x,y:x*y ,list(range(1,n+1)))

120