# Tuples in Python

<br>

Tuples -
- are Python containers
- are an ordered sequence of mixed data
- enclose elements in a pair of round brackets, separated by commas
- are immutable

#### Defining a tuple

In [ ]:
tup=(1,2,3,4,5,6)

#### Empty Tuple

In [ ]:
t = ()

# OR

t = tuple()

#### Single value Tuple

In [ ]:
(10,)

#### Tuple - String Conversion

In [1]:
a='basavaraj'
tuple(a)

('b', 'a', 's', 'a', 'v', 'a', 'r', 'a', 'j')

In [2]:
t = ("car", "bike", "house")
' '.join(t)

'car bike house'

### Indexing and Slicing

In [7]:
a=(1,2,3,9,4,5,6)
a=sorted(a)
a

[1, 2, 3, 4, 5, 6, 9]

In [ ]:
t = ("car", "bike", "house", 2, 3.4)

##### Ex. Extract the 2nd element from tuple -

##### Ex. Extract 1st element from tuple -

##### Ex. Extract last element from tuple -

##### Ex. Extract first 3 elements from tuple -

##### Ex. Extract last 2 element from tuple -

##### Ex. Extract "True" from the given Tuple

In [ ]:
mix_tuple = (['a', 1, True], 2, 'Science', -5)

### Operations on Tuples
- Iteration
- Membership
- Concatenation
- Repetition

In [ ]:
tup_1 = (1,2,3,4)
tup_2 = ('a','b','c')

#### Conacatenation

#### Repetition

#### Membership

#### Iteration

### Built-in functions on Tuples
- len()
- min(), max()
- sum()
- sorted()
- reversed()

In [8]:
tup = (1, 5, 3, 7, 2, 4)

In [9]:
len(tup)

6

In [10]:
min(tup) # all elements should be of same data-type

1

In [11]:
max(tup) # all elements should be of same data-type

7

In [12]:
sum(tup) # all elements should be of numeric type

22

In [13]:
sorted(tup)

[1, 2, 3, 4, 5, 7]

In [22]:
tuple(reversed(tup))            # it is a generator

(4, 2, 7, 3, 5, 1)

In [20]:
a=reversed(tup)
a

In [21]:
a=('basavaraj')         
sorted(a)

['a', 'a', 'a', 'a', 'b', 'j', 'r', 's', 'v']

### Tuple Methods
- index()
- count()

In [27]:
tup = ('car', 'bike', 'house', 'aeroplane', 'car', 'train', 'car')

In [29]:
tup.index('aeroplane',1,10)

3

In [ ]:
tup.count('car')

<h3 style = "color : green"> Examples</h3>

In [31]:
tup = (1, 4, 3, 2, 6, 5, 8)
for i in tup:
    print(i)
for j in tup:
    print(j)

1
4
3
2
6
5
8
1
4
3
2
6
5
8

##### Ex. WAP to print the elements in the tuple in reverse order -

In [30]:
tup = (1, 4, 3, 2, 6, 5, 8)
tuple(reversed(tup))

(8, 5, 6, 2, 3, 4, 1)

##### Ex. WAP to sum all the elements of the following tuple - 
tup = (2,4,3,1,5,6,7,9)

In [32]:
tup = (2,4,3,1,5,6,7,9)
sum(tup)

37

##### Ex. WAP to find longest word from the tuple

In [34]:
tup = ('car', 'bike', 'house', 'aeroplane')
max(tup,key=len)

'aeroplane'

In [36]:
min(tup,key=len)

'car'

In [37]:
sorted(tup,key=len)

['car', 'bike', 'house', 'aeroplane']

##### Ex. WAP to to sort the tuple in descending order as per the length of each word in the tuple

In [40]:
tup = ('car', 'aeroplane', 'bike', 'house')
sorted(tup,key=len,reverse=True)

['aeroplane', 'house', 'bike', 'car']

##### Ex. WAP to sort the following tuple as per the sum of subtuples

In [42]:
tup = ((3,9),(1,2,4),(1,4,8),(2,3))
sorted(tup,key=sum)                  # functional programing--> using parameter to manipulate actual function

[(2, 3), (1, 2, 4), (3, 9), (1, 4, 8)]

In [48]:
for i in sorted(tup,key=sum):
    print(str(i),' ',str(sum(i)))

(2, 3)   5
(1, 2, 4)   7
(3, 9)   12
(1, 4, 8)   13

In [49]:
for i in sorted(tup,key=sum):
    print(str(i)+' '+str(sum(i)))

(2, 3) 5
(1, 2, 4) 7
(3, 9) 12
(1, 4, 8) 13