# Lists in Python 

Lists -
- are Python containers
- are an ordered sequence of mixed data
- enclose elements in a pair of square brackets, separated by commas
- mutable

#### Empty List

In [2]:
a=list()
a

[]

In [3]:
a=[]
a

[]

#### Create a List

In [5]:
friends = [ 'Ross', 'Monica', 'Chandler', 'Joey']

#### Retrive elements from List - Indexing and slicing

##### Ex. Extract first element from the list

In [6]:
friends[0]

'Ross'

##### Ex. Extract second last element from the list

In [7]:
friends[-2]

'Chandler'

##### Ex. Extract first 3 elements from the list

In [8]:
friends[:3]

['Ross', 'Monica', 'Chandler']

### List Methods
- Add elements – append(), insert(), extend()
- Remove elements – pop(), remove()
- index() , count()
- sort(), reverse()

### Add elements to List

#### append() - appends element to the end of the list

##### Ex. Append 'Phoebe' to the end of the list

In [9]:
friends.append('Phoebe')            # original is changing it will not give output 
                                    # if it not changing in original it will give output there itself

In [10]:
friends

['Ross', 'Monica', 'Chandler', 'Joey', 'Phoebe']

#### insert() - inserts element at the mentioned index location

##### Ex. Insert 'Rachel' at index position 4

In [12]:
friends.insert(4,'Rachel')
friends

['Ross', 'Monica', 'Chandler', 'Joey', 'Rachel', 'Rachel', 'Phoebe']

#### extend() - always take a sequnce as parameter, appends all the elements from sequence to end of the list.

##### Ex. Extend tuple of new_friends to the end of the friends list

In [14]:
new_friends = ('Sheldon', 'Mary', 'Penny', 'Lenord', 'Jasmine')

In [16]:
friends.extend(new_friends)
friends

['Ross',
 'Monica',
 'Chandler',
 'Joey',
 'Rachel',
 'Rachel',
 'Phoebe',
 'Sheldon',
 'Mary',
 'Penny',
 'Lenord',
 'Jasmine',
 'Sheldon',
 'Mary',
 'Penny',
 'Lenord',
 'Jasmine']

### Modify elements in List

#### index() - returns the index location of the element passed as an argument

##### Ex. Return index position of "Mary"

In [17]:
friends.index("Mary")

8

In [21]:
friends[-2:]={'bijali','basavaraj'}
friends

['Ross',
 'Monica',
 'Chandler',
 'Joey',
 'Rachel',
 'Rachel',
 'Phoebe',
 'Sheldon',
 'Mary',
 'Penny',
 'Lenord',
 'Jasmine',
 'Sheldon',
 'Mary',
 'Penny',
 'basavaraj',
 'bijali']

##### Ex. Replace 'Mary' with "Amy"

AttributeError: 'list' object has no attribute 'replace'

### Remove elements from a list

#### pop() - deletes the last element from the list

In [23]:
friends.pop()       # it will delete last element and it will return the same

'bijali'

#### pop(<index-value>) - deletes the element at the mentioned <index-value> from the list

In [24]:
friends.pop(2)

'Chandler'

#### remove(<obj>) - removes the mention <obj> from the list

In [27]:
list.remove?

#### Using slicing operator to remove multiple element from a list

In [29]:
del friends[0:3]
friends

['Sheldon',
 'Mary',
 'Penny',
 'Lenord',
 'Jasmine',
 'Sheldon',
 'Mary',
 'Penny',
 'basavaraj']

##### Ex. WAP to create a list of 5 colors entered by user and print the list

In [30]:
color=input('enter colors: ').split(',')
color

enter colors: red,white,blue,marron

['red', 'white', 'blue', 'marron']

##### WAP to calculate percentage of each student and print in tablular format assuming roll numbers as 101, 102, 103
Roll No &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Percentage<br>
-------------------------------- <br>
101&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;62%  <br>
102&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;85%  <br>
.<br>
.<br>
--------------------------------- <br>

In [9]:
marks = [(50, 60, 75), (80, 76, 98), (55, 74, 67), (74, 83, 92), (85, 45, 97)]
id_=[100+i for i in range(1,len(marks)+1)]
print('Roll No'+'     '+'Percentage\n-----------------------')
t_marks=zip(id_,marks)
for  i,m in t_marks:
    print(i,' '*(len('Roll No')+3),str(round(sum(m)*(1/3)))+'%')

Roll No     Percentage
-----------------------
101            62%
102            85%
103            65%
104            83%
105            76%

#### enumerate() - The enumerate() function adds counter to an iterable and returns it (the enumerate object).

##### Ex. Modifying above program using enumerate()

In [10]:
list(enumerate([1,2,3,4], start = 101))

[(101, 1), (102, 2), (103, 3), (104, 4)]

### Operations on Lists
- Iteration
- Membership
- Concatenation
- Repetition

In [32]:
list_1 = [1, 2, 3, 4]

#### Conacatenation

In [33]:
list_1+[4,7,8,9,5]

[1, 2, 3, 4, 4, 7, 8, 9, 5]

In [34]:
list_1

[1, 2, 3, 4]

#### Repetition

In [35]:
list_1*2

[1, 2, 3, 4, 1, 2, 3, 4]

#### Membership

#### Iteration

##### Ex. WAP to iterate over the list and multiply each element in the list with its index value and store them in a new list.

In [ ]:
lst = [1, 3, 2, 5, 4, 6, 10]

##### Ex. Write the program to multiply the two lists

In [ ]:
num_list_1 = [1, 2, 3, 4]

num_list_2 = [0, 5, 2, 1]

#### zip() - returns a zip object, which is an sequence of tuples where the first item in each passed sequence is paired together, and then the second item in each passed sequence are paired together etc. If the passed sequences have different lengths, the iterator with the least items decides the length of the new iterator.

In [39]:
a=['bijali','basavaraj']
a.sort(key=len,reverse=True)
a

['basavaraj', 'bijali']

### Built-in functions on Lists
- len()
- min(), max()
- sum()
- sorted()

In [ ]:
friends = ['Ross', 'Monica', 'Rachel', 'Chandler', 'Joey', 'Phoebe', 'Sheldon', 'Amy', 'Penny', 'Lenord']

In [ ]:
len(friends)

In [ ]:
max(friends)

In [ ]:
sorted(friends)

In [ ]:
sum([1,3,2,4,5,8])

In [ ]:
friends = ['Ross', 'Monica', 'Rachel', 'Chandler', 'Joey', 'Phoebe', 'Sheldon', 'Amy', 'Penny', 'Lenord']

#### sort() - sorts the list object

#### reverse() - reverses the sequence of elements in the list

## Experiment

In [46]:
# -------------------Experiment--------------------------
import pandas as pd
name=[]
score=[]
df=pd.DataFrame({'Name':name,'Score':score})

In [47]:
df

Empty DataFrame
Columns: [Name, Score]
Index: []

In [48]:
df['Name']=['bijai']

In [50]:
df['Score']=60

In [51]:
df

    Name  Score
0  bijai     60

In [52]:
df.iloc[0]

Name     bijai
Score       60
Name: 0, dtype: object

In [55]:
a='bijali'
a.find('z')

-1

In [57]:
a.index('z')

ValueError: substring not found

In [58]:
''.join({'bijali','basava'})

'basavabijali'

In [12]:
a=(1,2,3)
reversed(a)

In [13]:
a.count(1)

1

In [15]:
a=(('bijali',99),('raju',100))
dict(a)

{'bijali': 99, 'raju': 100}

In [16]:
a={1,2,3}
b={7,8,9}
zip(a,b)

In [17]:
m={}
type(m)

dict

In [18]:
m={1,2,3}
m.update({7,8})

In [19]:
m

{1, 2, 3, 7, 8}

In [20]:
m.update(['bijali','raj',(1,9)])

In [21]:
m

{(1, 9), 1, 2, 3, 7, 8, 'bijali', 'raj'}

In [27]:
m

{2, 3, 7, 8, 'bijali', 'raj'}

In [28]:
m.discard(8)

In [29]:
m

{2, 3, 7, 'bijali', 'raj'}

In [30]:
m.discard(88)

In [31]:
m

{2, 3, 7, 'bijali', 'raj'}

In [32]:
m.pop()

2

In [35]:
a=[1,2]
b=[1,2]
a is not b

True

In [37]:
a=[7,9]
b=[7,9]
a is b

False