# Dictionary in Python

Dictionaries are -
- are Python containers 
- are an unordered sequence of mixed data
- Encloses elements in a pair of curly brackets
- elements are stored in the form of {key : value} pairs separated by commas
- keys are always unique and immutable
- values need not be unique and can be of any type
- mutable

#### Empty Dictionary

In [ ]:
empty_dict = {}

empty_dict = dict()

#### Creating a dictionary

##### Ex. Create a dictionary consisting of country names and their currencies

In [2]:
countries = {"India" : "INR", "USA" : "USD"}
countries

{'India': 'INR', 'USA': 'USD'}

In [4]:
country=dict(India='INR',USA='USD')
country

{'India': 'INR', 'USA': 'USD'}

#### Retriving elements from a Dictionary

##### Ex. Print currency for "India"

In [38]:
countries['India']
# a=dict(('a','b','c')=789)
a={}
a[(1,2,3,4)]=78
a
# b=dict((1,2,3,4,5,6)=789)
b=dict(name='Bijalai')
m=('Bijali','Ambani','Dravis')

a={}
a[m]='Greate people'
a


names=['Bijali','Ambani','Dravis']
z=dict.fromkeys(names,'Greate People')
z

{'Bijali': 'Greate People',
 'Ambani': 'Greate People',
 'Dravis': 'Greate People'}

In [52]:
# a=dict('(a,b)'='Bijali')
a=dict()
a[('a','b')]='Bijali'
a

{('a', 'b'): 'Bijali'}

In [53]:
l=('a','b')
b=dict(l='Raj')

In [42]:
False==0

True

##### Ex. Print currency for "Japan"

In [7]:
countries["Japan"]          # key is not there

KeyError: 'Japan'

#### dict.get() - returns the value of the item with the specified key
dictionary.get(keyname, value) <br>
- keyname -	Required. The keyname of the item you want to return the value from <br>
- value -	Optional. A value to return if the specified key does not exist. Default value None

#### Adding new element to dictionary

##### Ex. Add Japan and its currency to dictionary

In [13]:
countries['Japan']='Yen'

##### Ex. Modify the program to check if country is present or not. If not then add the country to the dictionary

In [16]:
country=input('Enter any country')
if country in countries:
    print(countries[country])
else:
    countries[country]=input()
    print(countries[country])

Enter any countryJapan
Yen

#### Modifying dictionary

##### Ex. Modify the currency for India as "Rs."

In [56]:
countries
countries['India']='Rs'
countries

{'India': 'Rs', 'USA': 'USD', 'Japan': 'Yen'}

#### dict.update() - inserts the specified items to the dictionary

##### Ex. Add contents from new_country dictionary to countries

In [1]:
m={'name':'Basavraj'}
n={'College':'IIT kharagpur'}
m.update(n)
m

{'name': 'Basavraj', 'College': 'IIT kharagpur'}

#### Remove element from dictionary

##### Ex. WAP to take name as input from user. Print the age of the person using following dictionary. If name is not present print appropriate message -

In [2]:
names = {"Jane" : 35, "Sara" : 23, "Sam" : 54, "Tom" : 32}
user=input()
names.get(user,'Key is not present')

Jane

35

##### Ex. Write a program to retrieve the capital of 'Germany' from a given dictionary

In [ ]:
europe = { 'Spain': { 'Capital':'Madrid', 'Population':4.77 },
           'France': { 'Capital':'Paris', 'Population':6.7 },
           'Germany': { 'Capital':'Berlin', 'Population':8.28 },
           'Norway': { 'Capital':'Oslo', 'Population':0.533 } }

In [ ]:
europe['Germany']['Capital']

#### Creating dictionaries using sequences

##### Ex. WAP to create a dictionary of 5 elements where keys are roll no starting from 101 and its values are the student names as entered by user

In [2]:
a={101+i:input() for i in range(5)}
a

basavaraj
bijali
ravi
raju
ram

{101: 'basavaraj', 102: 'bijali', 103: 'ravi', 104: 'raju', 105: 'ram'}

#### dict.fromkeys() - returns a dictionary with the specified keys and the specified value

##### Ex. WAP to create a dictionary combining the following two lists

In [6]:
l1=[101,102,103,104,105]
l2=['Vijay','Pradeep','Reddi','Iranna','Pavan']
m=dict(zip(l1,l2))
m

{101: 'Vijay', 102: 'Pradeep', 103: 'Reddi', 104: 'Iranna', 105: 'Pavan'}

##### Ex. Create a dictionary from the following list

In [ ]:
names = ['Jane', 'Drake', 'Mary', 'Sam', 'George']

### Functions/Operations on Dictionary
- Iteration - for loop, dict.keys(), dict.values(), dict.items()
- Membership
- len(), sorted()

##### Ex. WAP to print the names and marks in sorted order

In [23]:
students = {'Jane': 70, 'Drake': 90, 'Mary': 40, 'Sam': 50, 'George': 76}
m=lambda i:i.values()
sorted(students,key= students.get)

['Mary', 'Sam', 'Jane', 'George', 'Drake']

In [ ]:
sorted()

#### Iterating over a dictionary

##### Ex. WAP to print the name and the total marks(percentage) of each student.

In [16]:
students = {'Jane': [70, 65, 32], 'Drake': [90, 76, 98], 
            'Mary': [40, 55, 78], 'Sam': [50, 87, 67], 'George': [76, 72, 89]}


for key,val in students.items():
    print(key,'-',round(sum(val)*(1/3),2),'%')

Jane - 55.67 %
Drake - 88.0 %
Mary - 57.67 %
Sam - 68.0 %
George - 79.0 %

In [20]:
students = {'Jane': [70, 65, 32], 'Drake': [90, 76, 98], 
            'Mary': [40, 55, 78], 'Sam': [50, 87, 67], 'George': [76, 72, 89]}
sorted(students,key=(students.get))

['Mary', 'Sam', 'Jane', 'George', 'Drake']

In [23]:
for i in students:
    print(i,'-',sum(students[i]))

Jane - 167
Drake - 264
Mary - 173
Sam - 204
George - 237

In [25]:
students = {'Jane': 100, 'Drake':250, 
            'Mary': 788, 'Sam': 96, 'George':38}
sorted(students,key=(students.get))

['George', 'Sam', 'Jane', 'Drake', 'Mary']

In [ ]:
s