#### List comprehension using range() as sequence

#### Comprehension

>Creating and Defining a mutable data structure by iterating over a sequence and applying some expression/functionality to each element of the sequence

##### Ex. WAP to generate a list of squares of first 10 natural numbers.

In [4]:
[i**2 for i in range(1,11)]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

##### write a program to create list os sum of each sub tuple

In [5]:
tup = ((3, 9), (1, 4, 8), (2, 5), (2, 4, 7))
[sum(i) for i in tup]

[12, 13, 7, 13]

#### List comprehension using str as sequence

##### Ex.WAP to extract all the numbers from the string using list comprehension

In [3]:
[int(i) for i in input() if i.isdigit()]

bijali100

[1, 0, 0]

In [7]:
[i if i%3==0  else 0 for i in range(1,10)]

[0, 0, 3, 0, 0, 6, 0, 0, 9]

#### Set comprehension using str as sequence

##### Ex. WAP to print all unique words with len <= 4.

In [11]:
sent = "The quick brown fox jumps over the lazy dog"
print([i for i in set(sent.split()) if len(i)<=4])

print({i for i in sent.split() if len(i)<=4})

['the', 'The', 'fox', 'over', 'lazy', 'dog']
{'fox', 'The', 'over', 'the', 'dog', 'lazy'}

#### List comprehension using tuple as sequence

##### Ex. WAP to create a list of length of each element of the names tuple.

In [12]:
names = ("Jane", "Sam", "Maria", "Sofia", "Sheldon")
[(i,len(i)) for i in names]

[('Jane', 4), ('Sam', 3), ('Maria', 5), ('Sofia', 5), ('Sheldon', 7)]

In [15]:
# creat names if len(name) is less than 5
lst = [('Jane', 40), ('Sam', 30), ('Maria', 50), ('Sofia', 60), ('Sheldon', 70)]
[i for i,j in lst if j>=50]

['Maria', 'Sofia', 'Sheldon']

In [23]:
names = ("Jane", "Sam", "Maria", "Sofia", "Sheldon")
a={i:len(i) for i in names}
print('a',{i:len(i) for i in names})
print(sorted(a,key= a.get))

a {'Jane': 4, 'Sam': 3, 'Maria': 5, 'Sofia': 5, 'Sheldon': 7}
['Sam', 'Jane', 'Maria', 'Sofia', 'Sheldon']

#### Dictionary comprehension using tuple as sequence

##### Ex. WAP to create a dictionary from the names tuple such that key = name and value = len(name)

In [ ]:
names = ("Jane", "Sam", "Maria", "Sofia", "Sheldon")

#### Applying conditional clauses in comprehensions

##### Ex. WAP to generate a list of numbers from 1 to 50 skipping multipes of 3.

In [24]:
[i for i in range(1,51) if i%3!=0]

[1,
 2,
 4,
 5,
 7,
 8,
 10,
 11,
 13,
 14,
 16,
 17,
 19,
 20,
 22,
 23,
 25,
 26,
 28,
 29,
 31,
 32,
 34,
 35,
 37,
 38,
 40,
 41,
 43,
 44,
 46,
 47,
 49,
 50]

##### Ex. WAP to identify all the even numbers present in the mentioned list. (sorted order) unique element

In [25]:
l = [2, 4, 3, 5, 6, 7, 1, 11, 90, 3, 8, 10, 11]
sorted({i for i in l if i%2==0})

[2, 4, 6, 8, 10, 90]

##### Ex. WAP to generate a dictionary specifying the element in l is even or odd.

In [27]:
l = [2, 4, 3, 5, 6, 7, 1, 11, 90, 3, 8, 10, 11]

{i:'even' if i%2==0 else 'odd' for i in l}

{2: 'even',
 4: 'even',
 3: 'odd',
 5: 'odd',
 6: 'even',
 7: 'odd',
 1: 'odd',
 11: 'odd',
 90: 'even',
 8: 'even',
 10: 'even'}

### Additional Examples -

##### Ex. WAP to generate a list containing square of all odd numbers from range 1 to 10

In [30]:
[i**2 for i in range(1,11) if i%2!=0]

[1, 9, 25, 49, 81]

##### Ex. Write a Python program to find those numbers which are divisible by 7 and multiple of 5, between 1500 and 2700 (both included).

In [31]:
[ i for i in range(1500,2701) if i%7==0 and i%5==0]

[1505,
 1540,
 1575,
 1610,
 1645,
 1680,
 1715,
 1750,
 1785,
 1820,
 1855,
 1890,
 1925,
 1960,
 1995,
 2030,
 2065,
 2100,
 2135,
 2170,
 2205,
 2240,
 2275,
 2310,
 2345,
 2380,
 2415,
 2450,
 2485,
 2520,
 2555,
 2590,
 2625,
 2660,
 2695]

In [33]:
a={(1,2,3):'bijali'}
a

{(1, 2, 3): 'bijali'}

In [34]:
a={'bijali':(1,2,3)}

In [35]:
a

{'bijali': (1, 2, 3)}